.main-grid {
  display: grid;
}

nav {
  display: grid;
  color: white;
  background-color: darkred;
}

.menu-bar {
  padding: 0;
  display: grid;
  color: white;
  background-color: darkred;
  grid-template-columns: 1fr;
}

.menu-element {
  list-style: none;
  position: relative;
  font-weight: bold;
}

.menu-element a {
  padding: 20px 10px;
  display: block;
}

.menu-element a:hover {
  background-color: red;
}

.submenu {
  display: none;
  position: absolute;
  background-color: darkred;
  padding: 4px;
  border-radius: 4px;
}

.menu-element:hover .submenu {
  display: block;
  padding: 7px 7px;
}

.submenu-element {
  list-style: none;
}

.submenu-element a {
  padding: 4px;
}

@media screen and (min-width: 736px){
  .menu-bar {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
