<div class="main-grid">
  <nav>
    <ul class="menu-bar">
      <li class="menu-element">
        <a [routerLink]="'/home'">
          <img src="assets/logo.jpeg" alt="TUL Logo" height="40">
        </a>
      </li>
      <li class="menu-element">
        <a href="https://virtul.p.lodz.pl/login">VIRTUL</a>
      </li>
      <li class="menu-element">
        <a href="https://poczta.p.lodz.pl">E-MAIL</a>
      </li>
      <li class="menu-element">
        <a href="https://edu.p.lodz.pl/login">WIKAMP</a>
      </li>
      <li class="menu-element">
        <a href="#">YOUR ACCOUNT</a>
        <ul class="submenu">
          <li>
            <a [routerLink]="'/programmes'">PROGRAMMES</a>
          </li>
          <li>
            <a href="#">EXAM ENROLLMENTS</a>
          </li>
          <li>
            <a href="#">PE ENROLLMENTS</a>
          </li>
          <li>
            <a href="https://webdziekanat.p.lodz.pl/domy-studenckie-web/">APPLICATION TO STUDENTS' HOUSE</a>
          </li>
          <li>
          <a href="#">LOG OUT</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
