:root {
  --general-visibility: none;
  --records-visibility: none;
}

.margins {
  display: grid;
  padding: 50px;
  color: white;
  grid-gap: 20px;
  --background-color: #a0a0a0;
}

.margins div {
  background-color: var(--background-color);
  border-radius: 4px;
  padding: 10px;
}

.general-box {
  display: var(--general-visibility);
  grid-template-columns: 1fr;
}

.records-box {
  display: var(--records-visibility);
}

.records-box table th {
  padding: 10px;
}

.programme-menu {
  padding: 0;
  background-color: var(--background-color);
  border-radius: 4px;
}

.programme-menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.programme {
  text-align: center;
}

@media screen and (min-width: 736px) {
  .programme-menu {
    grid-template-columns: 1fr 1fr;
  }
  .general-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
