<div class="bulletin-container">
  <div class="title-container">
    <h2>Bulletin board</h2>
  </div>
  <div class="table-container">
    <table>
      <tr>
        <th colspan="2">Information</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><a href="#">Infromacje dla studentów zapisujących się na wf</a></td>
        <td>Dokument zawierający informację dla studentów zapisujących się na zajęcia wychowania fizycznego m.in. cennik za zajęcia płatne.</td>
      </tr>
      <tr>
        <td><a href="#">Konfiguracja sieci bezprzewodowej</a></td>
        <td>Film opisuje jak podłączyć się do sieci bezprzewodowej edurom.</td>
      </tr>
    </table>
  </div>
  <br>
  <div class="table-container">
    <table>
      <tr>
        <th colspan="2">Ads</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>
          <a href="#">Chemia budowlana</a>
        </td>
        <td>Informacje dla studentów kierunku Chemia Budowlana.</td>
      </tr>
      <tr>
        <td>
          <a href="#">Dyplom Instrukcja dla Promotora i Studenta</a>
        </td>
        <td>Obsługa procesu dyplomowania.</td>
      </tr>
    </table>
  </div>
</div>
