<div class="panel-grid">
  <div class="panel">
    <a href="#">Statutes, regulations, ordinances</a>
  </div>
  <div class="panel">
    <a href="#">Bulletin board</a>
  </div>
  <div class="panel">
    <a href="#">Course schedule</a>
  </div>
  <div class="panel">
    <a href="https://programy.p.lodz.pl/ectslabel-web/">ECTS Course Catalogue</a>
  </div>
  <div class="panel">
    <a href="#">Tuition fee</a>
  </div>
  <div class="panel">
    <a href="#">Mandatory terms</a>
  </div>
  <div class="panel">
    <a href="#">Meeting terms</a>
  </div>
  <div class="panel">
    <a href="#">Application forms</a>
  </div>
  <div class="panel">
    <a href="https://samorzad.p.lodz.pl/">TUL student government</a>
  </div>
</div>
